setuptools==72.1.0
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
GDAL==3.6.2
Fiona==1.9.5
Shapely==2.0.5
pyproj==3.6.1
geopandas==0.14.2
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
Pillow==10.4.0
requests==2.32.3
Rtree==1.0.1
folium==0.14.0
plotly==5.22.0
streamlit==1.37.1